@charset "UTF-8";
/* General */
/* line 11, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
body {
  color: #878787;
  font-family: Helvetica, sans-serif;
}

/* line 16, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #86be40;
  font-family: "Playfair Display", sans-serif;
}

/* line 22, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
h2, .h2 {
  font-size: 3.125em;
}

/* line 26, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
p {
  font-size: 1.25em;
  margin: 2.5em 0;
}

/* line 31, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
a:link,
a:visited {
  color: #313232;
}

/* line 36, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
a:hover,
a:active {
  color: #86be40;
}

/* line 41, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.btn,
a.btn:link,
a.btn:visited {
  border-radius: 0;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 1.25em 2.5em;
  color: #FFF;
}

/* line 51, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.btn:hover,
a.btn:hover,
a.btn:active {
  background-color: #313232;
  border-color: #313232;
}

/* line 58, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.btn-primary {
  background-color: #86be40;
  border-color: #86be40;
}

/* line 63, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.navbar {
  padding: 0;
  min-height: 9.0625em;
}

/* line 68, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.navbar .navbar-nav li {
  padding: 0 3.125em 0 0;
}

/* line 72, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.navbar .navbar-nav li:last-child {
  padding: 0;
}

/* line 76, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.navbar .navbar-nav a:link,
.navbar .navbar-nav a:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875em;
  padding-bottom: 0.625em;
  border-bottom: solid 1px transparent;
}

/* line 85, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.navbar .navbar-nav a:hover,
.navbar .navbar-nav a.active {
  color: #86be40;
  border-bottom: solid 1px #86be40;
}

/* line 93, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.intro-teaser {
  height: 52.8125em;
  background-size: cover;
  color: #fff;
  padding-top: 7.8125em;
}

/* line 100, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.intro-teaser .headline {
  color: #fff;
  font-size: 4.9375em;
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.85);
}

/* line 106, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.intro-teaser.day {
  background-image: url("../images/welcome_image_day.png");
}

/* line 110, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.intro-teaser.night {
  background-image: url("../images/welcome_image_night.jpg");
}

/* line 116, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.cta-block {
  color: #fff;
  background-color: #5a5b5d;
  opacity: 0.95;
  text-align: center;
  margin-top: -9.375em;
  margin-bottom: 5em;
  padding: 3.75em 4.375em 2.8125em 4.375em;
}

/* line 126, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.cta-block .title {
  color: #FFF;
  font-size: 3.125em;
}

/* line 131, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.cta-block .buttons .btn {
  margin: 0 0.9375em;
}

/* line 137, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.gallery {
  background: #ededed;
}

/* line 143, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.blockquote {
  background-color: #5a5b5d;
  color: #fff;
  padding: 5em 8.75em 1em 10.9375em;
  margin-bottom: 3.4375em;
  font-size: 1em;
}

/* line 151, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.blockquote p {
  margin: 0;
}

/* line 155, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.blockquote cite {
  font-style: normal;
}

/* line 159, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.blockquote footer {
  margin-top: 1em;
  display: flex;
  justify-content: end;
}

/* line 165, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.blockquote::before {
  content: "”";
  position: absolute;
  color: #fafbfc;
  left: 130px;
  top: 32px;
  font-size: 13.5625em;
  font-family: "Playfair Display", sans-serif;
  opacity: 0.1;
  display: block;
}

/* line 179, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.blockquote .blockquote-footer::before {
  display: none;
}

/* line 187, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form {
  background: #ededed;
  text-align: center;
  padding: 4.0625em 0 3.125em;
}

/* line 193, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form div[class^="col-"] {
  border-right: solid 1px #313232;
  padding-right: 4.375em;
  padding-left: 0;
}

/* line 199, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form div[class^="col-"]:last-child {
  border-right: none;
  padding-left: 4.375em;
  padding-right: 0;
}

/* line 205, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form .form-group {
  text-align: left;
}

/* line 209, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form h1, .contact-form h2, .contact-form h3, .contact-form h4, .contact-form h5, .contact-form h6,
.contact-form .h1, .contact-form .h2, .contact-form .h3, .contact-form .h4, .contact-form .h5, .contact-form .h6 {
  color: #4c4d4f;
  font-size: 2.375em;
}

/* line 215, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form p {
  font-size: 1.125em;
}

/* line 219, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form label {
  color: #4c4d4f;
  font-size: 1.25em;
}

/* line 224, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form .form-control {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: solid 1px #313232;
  padding-left: 0;
  font-size: 1.25em;
}

/* line 235, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 243, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.contact-form .form-text {
  color: #4c4d4f;
}

/* line 249, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.site-footer {
  background-color: #505151;
  padding: 4.375em 0;
  white-space: nowrap;
}

/* line 257, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.created-by {
  padding: .5em 0;
  text-align: center;
  background: #313232;
  color: white;
  font-size: 1em;
  margin: 0;
}

/* line 268, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.shops-accordion .accordion-heading {
  position: relative;
  font-size: 1.25em;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  border-bottom: 1px solid #4c4d4f;
  cursor: pointer;
}

/* line 277, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.shops-accordion .accordion-heading::after {
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #535456;
  transform: rotate(90deg);
  transition: all 0.5s;
  position: absolute;
  right: 13px;
  top: 2px;
}

/* line 295, ../../../../../Users/brunodilhof/Sites/2create.test/httpdocs/site/sass/custom/_custom.scss */
.shops-accordion a:link,
.shops-accordion a:visited {
  color: #878787;
  font-size: 1.25em;
}

/*# sourceMappingURL=style.css.map */