.intro-teaser {

  height: 52.8125em;
  background-size: cover;
  color: #fff;
  padding-top: $spacer * 6;
  margin-left: -$spacer;
  margin-right: -$spacer;
  padding-left: $spacer;
  padding-right: $spacer;

  .headline {
    color: #fff;
    font-size: 3.125em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  &.day {
    background-image: url('../images/welcome_image_day.png');
  }

  &.night {
    background-image: url('../images/welcome_image_night.jpg');
  }

}

@media (min-width: 768px) {

  .intro-teaser {

    .headline {
      font-size: 4.9375em;
    }

  }

}
