.navbar {

  padding: 0 $spacer 0 $spacer;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 9999;

  .container {
    max-width: 1200px;
  }

  .navbar-toggler {
    margin: 0.5em 0;
  }

  .navbar-nav a:link,
  .navbar-nav a:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875em;
    padding-bottom: 0.625em;
    border-bottom: solid 1px transparent;
  }

  .navbar-nav a:hover,
  .navbar-nav a.active {
    color: $color-green;
  }

}

@media (max-width: 767px) {

  .navbar {

    .navbar-collapse {
      background: $color-grey-dark;
      margin-left: - $spacer;
      margin-right: - $spacer;

      li {
        height: 2.5em;
        line-height: 2.5em;
        border-bottom: solid 1px $color-grey-light;
        padding-left: $spacer;
        padding-right: $spacer;
      }

      li:last-child {
        border-bottom: 0;
      }

      .navbar-nav a:link,
      .navbar-nav a:visited {
        color: #fff;
      }

      .navbar-nav a:hover,
      .navbar-nav a.active {
        color: $color-green;
      }



    }

  }

}

@media (min-width: 768px) {

  .navbar {

    min-height: 4.53125em;
    position: relative;

    .navbar-nav li {
      padding: 0 $spacer 0 0;
    }

    .navbar-nav li:last-child {
      padding: 0;
    }

    .navbar-nav a:link,
    .navbar-nav a:visited {
      padding-bottom: 0.2142857143em;
    }

    .navbar-nav a:hover,
    .navbar-nav a.active {
      border-bottom: solid 1px $color-green;
    }

  }

}

@media (min-width: 992px) {

  .navbar {
    min-height: 9.0625em;

    .navbar-nav li {
      padding: 0 $spacer * 2 0 0;
    }

  }

}
