// variables

$color-green: #86be40;
$color-grey-very-dark: #4c4d4f;
$color-grey-dark: #5a5b5d;
$color-grey-light: #878787;
$transition-speed: 0.15s;
$spacer: 1.25em; // 20px
$gallery-outstand: 3 * $spacer;

html {
  font-size: 100%;
}

body {
  color: $color-grey-light;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $color-green;
  font-family: "Playfair Display", sans-serif;
  // margin-bottom: $spacer * 2;
  // TODO: same as <p>
  margin-bottom: 40px;
}

h2, .h2 {
  font-size: 3.125em;
}

p {
  font-size: 1.25em;
  // margin-bottom: $spacer * 2;
  // TODO: resolve function
  margin-bottom: 40px;
  line-height: 1.2em;
}

a:link,
a:visited {
  color: $color-grey-dark;
  transition: all $transition-speed;
}

a:hover,
a:active {
  color: $color-green;
}

.btn,
a.btn:link,
a.btn:visited {
  border-radius: 0;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 1.25em 2.5em;
  color: #FFF;
  box-shadow: none;

  .site-footer & {
    font-size: 0.75em;
    background: transparent;
    color: #878787;
    border-color: #878787;
    padding: 0.625em 1.875em;
  }

}

.btn:hover,
a.btn:hover,
a.btn:active {

  background-color: #313232;
  border-color: #313232;

  .site-footer & {
    color: #fff;
    border-color: #fff;
  }

}

.btn-primary {
  background-color: $color-green;
  border-color: $color-green;
}

.navbar {

  padding: 0;
  min-height: 9.0625em;

  .container {
    max-width: 1200px;
  }

  .navbar-nav li {
    padding: 0 $spacer * 2 0 0;
  }

  .navbar-nav li:last-child {
    padding: 0;
  }

  .navbar-nav a:link,
  .navbar-nav a:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875em;
    padding-bottom: 0.625em;
    border-bottom: solid 1px transparent;
  }

  .navbar-nav a:hover,
  .navbar-nav a.active {
    color: $color-green;
    border-bottom: solid 1px $color-green;
  }

}

.intro-teaser {

  height: 52.8125em;
  background-size: cover;
  color: #fff;
  padding-top: $spacer * 6;

  .headline {
    color: #fff;
    font-size: 4.9375em;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, .85);
    margin: 0;
  }

  &.day {
    background-image: url('../images/welcome_image_day.png');
  }

  &.night {
    background-image: url('../images/welcome_image_night.jpg');
  }

}

.cta-block {

  color: #fff;
  background-color: $color-grey-dark;
  opacity: 0.95;
  text-align: center;
  margin-top: - $spacer * 7;
  margin-bottom: $spacer * 4;
  padding: 3.75em 3.75em 2.5em 3.75em;

  .title {
    color: #FFF;
    font-size: 3.125em;
  }

  .buttons .btn {
    margin: 0 0.9375em;
  }

}

.gallery {

  background: #ededed;
  margin-top: $gallery-outstand;
  margin-bottom: $spacer * 2;

  .container {
    max-width: 1117px;
  }

  .grid {

    top: -$gallery-outstand;
    position: relative;
    margin-bottom: 6.25em;
    display: flex;
    flex-wrap: wrap;

    .item {
      margin: 5px;
      position: relative;
    }

    img {
      height: 17.9375em;
    }

  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // opacity: 0;
    position: absolute;
  }

  .overlay .background {
    width: 100%;
    height: 100%;
    background: $color-green;
    transition: all $transition-speed;
    position: absolute;
    opacity: 0;
  }

  .overlay .icon {
    display: inline-block;
    font-size: 2.125em;
    color: #fff;
    width: 1.7647058824em;
    height: 1.7647058824em;
    border: solid 1px white;
    line-height: 1.7647058824em;
    transition: all 0.5s;
    text-align: center;
    opacity: 0;
    z-index: 9999;
  }

  .item:hover > .overlay .background {
    opacity: .5;
  }

  .item:hover > .overlay .icon {
    opacity: 1;
  }

}



.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.blockquote {

  &::before {
    content: "”";
    position: absolute;
    color: #fafbfc;
    left: 130px;
    top: 0.2764976959em;
    font-size: 13.5625em;
    font-family: "Playfair Display", sans-serif;
    opacity: 0.1;
    display: block;
  }

  background-color: #5a5b5d;
  color: #fff;
  text-align: left;
  padding: {
    top: $spacer * 4;
    right: $spacer * 7;
    bottom: $spacer;
    left: $spacer * 8;
  }

  // margin-bottom: 3.4375em;
  // TODO: fix this dirty hack
  margin-bottom: 40px;
  font-size: 1em;

  p {
    margin: 0;
    line-height: inherit;
  }

  cite {
    font-style: normal;
  }

  footer {
    margin-top: 1em;
    display: flex;
    justify-content: end;
  }

  .blockquote-footer {

    &::before {
      display: none;
    }

  }

}

.contact-form {

  background: #ededed;
  text-align: center;
  padding: {
    top: $spacer * 3;
    right: 0;
    bottom: $spacer * 2;
    left: 0;
  }

  div[class^="col-"] {
    border-right: solid 1px #313232;
    padding-right: $spacer * 3;
    padding-left: 0;
  }

  div[class^="col-"]:last-child {
    border-right: none;
    padding-left: $spacer * 3;
    padding-right: 0;
  }

  .form-group {
    text-align: left;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color-grey-very-dark;
    font-size: 2.375em;
  }

  p {
    font-size: 1.125em;
  }

  label {
    color: $color-grey-very-dark;
    font-size: 1.25em;
  }

  .form-control {

    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    border-bottom: solid 1px #313232;
    padding-left: 0;
    font-size: 1.25em;
    resize: none;

    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $color-grey-very-dark;
    }

  }

  .form-text {
    color: $color-grey-very-dark;
    margin: $spacer * 2 0;
  }

}

.site-footer {

  background-color: #505151;
  padding: $spacer*3 0;
  white-space: nowrap;

  p {
    // margin-bottom: $spacer;
    // TODO: hack :-(
    margin-bottom: 20px;
  }

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover,
  a:active {
    color: #fff;
  }

}

.created-by {
  padding: .5em 0;
  text-align: center;
  background: #313232;
  color: white;
  font-size: 1em;
  margin: 0;
}

.shops-accordion {

  .accordion-heading {

    position: relative;
    font-size: 1.25em;
    font-family: Helvetica, sans-serif;
    margin: 0;
    border-bottom: 1px solid $color-grey-very-dark;
    cursor: pointer;

    // line-height: 1.5;
    // TODO: same as other elements
    height: 40px;
    line-height: 40px;

    &::after {
      content: '';
      width: 0;
      height: 0;
      display: inline-block;
      vertical-align: middle;
      border-style: solid;
      border-width: 7px 0 7px 7px;
      border-color: transparent transparent transparent #535456;
      transform: rotate(90deg);
      transition: all $transition-speed;
      position: absolute;
      right: 12px;
      top: 12px;
    }

  }

  a:link,
  a:visited {
    color: $color-grey-light;
    font-size: 1.25em;
  }

  ul {
    margin-bottom: $spacer;
  }

  li {
    height: $spacer*2;
    line-height: $spacer*2;
  }

}
